USE [master]
GO
/****** Object:  Database [HueTravelMapDB]    Script Date: 18/05/2026 22:13:10 ******/
CREATE DATABASE [HueTravelMapDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HueTravelMapDB', FILENAME = N'D:\Project\Databases\HueTravelMapDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HueTravelMapDB_log', FILENAME = N'D:\Project\Databases\HueTravelMapDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HueTravelMapDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HueTravelMapDB]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 18/05/2026 22:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[checkin_images]    Script Date: 18/05/2026 22:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[checkin_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url] [varchar](max) NOT NULL,
	[checkin_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[checkins]    Script Date: 18/05/2026 22:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[checkins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[place_id] [int] NULL,
	[rating] [tinyint] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[place_images]    Script Date: 18/05/2026 22:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[place_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url] [varchar](max) NOT NULL,
	[place_id] [int] NULL,
	[suggestion_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[place_suggestions]    Script Date: 18/05/2026 22:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[place_suggestions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[lat] [decimal](10, 8) NOT NULL,
	[lng] [decimal](11, 8) NOT NULL,
	[thumbnail_url] [varchar](max) NULL,
	[status] [varchar](20) NULL,
	[user_id] [int] NULL,
	[created_date] [datetime] NULL,
	[category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[places]    Script Date: 18/05/2026 22:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[places](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[lat] [decimal](10, 8) NOT NULL,
	[lng] [decimal](11, 8) NOT NULL,
	[thumbnail_url] [varchar](max) NULL,
	[category_id] [int] NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
 CONSTRAINT [PK_places] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[site_visits]    Script Date: 18/05/2026 22:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[site_visits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[visit_date] [date] NOT NULL,
	[visit_count] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 18/05/2026 22:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[avatar_url] [varchar](max) NULL,
	[role] [varchar](20) NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name]) VALUES (1, N'Di tích lịch sử')
INSERT [dbo].[categories] ([id], [name]) VALUES (2, N'Cảnh đẹp')
INSERT [dbo].[categories] ([id], [name]) VALUES (3, N'Cà phê')
SET IDENTITY_INSERT [dbo].[categories] OFF
SET IDENTITY_INSERT [dbo].[checkin_images] ON 

INSERT [dbo].[checkin_images] ([id], [url], [checkin_id]) VALUES (1, N'53961800-82c7-4e04-b251-98fce3a31f66.jpg', 1)
INSERT [dbo].[checkin_images] ([id], [url], [checkin_id]) VALUES (2, N'9a7a9743-15fe-4e84-8657-33251c5f5478.jpg', 1)
INSERT [dbo].[checkin_images] ([id], [url], [checkin_id]) VALUES (3, N'4560e356-c4fe-4509-9cd9-fe171d7534d4.jpg', 1)
SET IDENTITY_INSERT [dbo].[checkin_images] OFF
SET IDENTITY_INSERT [dbo].[checkins] ON 

INSERT [dbo].[checkins] ([id], [user_id], [place_id], [rating], [content], [created_date]) VALUES (1, 1, 1, 5, N'Cảnh quan ở đây thực sự rất đẹp, đồ ăn ngon!', CAST(N'2026-05-06 16:06:59.973' AS DateTime))
INSERT [dbo].[checkins] ([id], [user_id], [place_id], [rating], [content], [created_date]) VALUES (2, 3, 1, 5, N'Không gian đẹp và sạch sẽ', CAST(N'2026-05-07 18:14:14.093' AS DateTime))
INSERT [dbo].[checkins] ([id], [user_id], [place_id], [rating], [content], [created_date]) VALUES (3, 4, 1, 5, N'Trải nghiệm khá ổn', CAST(N'2026-05-07 18:14:14.093' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[checkins] OFF
SET IDENTITY_INSERT [dbo].[place_images] ON 

INSERT [dbo].[place_images] ([id], [url], [place_id], [suggestion_id]) VALUES (1, N'kinhthanhhue2.jpg', 1, NULL)
INSERT [dbo].[place_images] ([id], [url], [place_id], [suggestion_id]) VALUES (2, N'kinhthanhhue3.jpg', 1, NULL)
INSERT [dbo].[place_images] ([id], [url], [place_id], [suggestion_id]) VALUES (3, N'kinhthanhhue4.jpg', 1, NULL)
SET IDENTITY_INSERT [dbo].[place_images] OFF
SET IDENTITY_INSERT [dbo].[place_suggestions] ON 

INSERT [dbo].[place_suggestions] ([id], [name], [description], [lat], [lng], [thumbnail_url], [status], [user_id], [created_date], [category_id]) VALUES (1, N'Cà phê Giao Chỉ', N'Một quán cà phê mang phong cách hoài cổ, không gian yên tĩnh, rất hợp để đọc sách và làm việc. Đồ uống ngon, đặc biệt là cà phê muối.', CAST(16.46781200 AS Decimal(10, 8)), CAST(107.58123400 AS Decimal(11, 8)), N'd8a1b2c-giaochi-main.jpg', N'REJECTED', 3, CAST(N'2026-05-08 00:03:18.620' AS DateTime), 3)
INSERT [dbo].[place_suggestions] ([id], [name], [description], [lat], [lng], [thumbnail_url], [status], [user_id], [created_date], [category_id]) VALUES (2, N'Đầm Hà Trung', N'Đầm Hà Trung có cây cầu Hà Trung', CAST(16.48300828 AS Decimal(10, 8)), CAST(107.71794319 AS Decimal(11, 8)), N'f5a67e5f-bce2-4832-a962-0385a7f4d7d9.jpg', N'PENDING', 1, CAST(N'2026-05-11 22:22:34.187' AS DateTime), 2)
INSERT [dbo].[place_suggestions] ([id], [name], [description], [lat], [lng], [thumbnail_url], [status], [user_id], [created_date], [category_id]) VALUES (3, N'Cầu Ngói Thanh Toàn', N'Cầu ngói cổ kính', CAST(16.46679051 AS Decimal(10, 8)), CAST(107.64271131 AS Decimal(11, 8)), N'8a86ad3d-e1a9-432e-b625-8171bdb9b453.jpg', N'APPROVED', 1, CAST(N'2026-05-11 23:00:43.847' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[place_suggestions] OFF
SET IDENTITY_INSERT [dbo].[places] ON 

INSERT [dbo].[places] ([id], [name], [description], [lat], [lng], [thumbnail_url], [category_id], [is_active], [created_date]) VALUES (4, N'Bảo tàng Hồ Chí Minh', N'Nơi đây hiện lưu trữ hàng ngàn tư liệu thành văn và dân gian viết về Bác, nói về Bác, hồi ức của chính Bác Hồ về thời kỳ ở Huế và tấm lòng của Bác đối với Huế', CAST(16.45950410 AS Decimal(10, 8)), CAST(107.58121310 AS Decimal(11, 8)), N'baotanghcm1.jpg', 1, 1, CAST(N'2026-05-06 22:40:56.940' AS DateTime))
INSERT [dbo].[places] ([id], [name], [description], [lat], [lng], [thumbnail_url], [category_id], [is_active], [created_date]) VALUES (10, N'Bảo tàng lịch sử Việt Nam', N'Trưng bày hơn 30.000 tư liệu, hiện vật và nhiều bộ sưu tập có giá trị về Phong trào đấu tranh cách mạng, cuộc kháng chiến chống thực dân Pháp và “Cuộc kháng chiền chống Mỹ cứu nước ở Huế".', CAST(16.44387240 AS Decimal(10, 8)), CAST(107.58172110 AS Decimal(11, 8)), N'bangtanglichsu1.jpg', 1, 1, CAST(N'2026-05-06 22:46:02.200' AS DateTime))
SET IDENTITY_INSERT [dbo].[places] OFF
SET IDENTITY_INSERT [dbo].[site_visits] ON 

INSERT [dbo].[site_visits] ([id], [visit_date], [visit_count]) VALUES (1, CAST(N'2026-05-13' AS Date), 3)
INSERT [dbo].[site_visits] ([id], [visit_date], [visit_count]) VALUES (2, CAST(N'2026-05-17' AS Date), 1)
SET IDENTITY_INSERT [dbo].[site_visits] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [password], [full_name], [avatar_url], [role], [created_date]) VALUES (1, N'tuan@gmail.com', N'$2a$10$3wB3bMOJNGZY0htTl.8y1usWqmAs/Cn/QUq6J3AINFioOcW1S5Stm', N'Trần Hoàng Anh Tuấn', N'36af05c4-1322-4db4-8d07-5ce170f07fa7.jpg', N'ADMIN', CAST(N'2026-05-05 11:56:24.933' AS DateTime))
INSERT [dbo].[users] ([id], [email], [password], [full_name], [avatar_url], [role], [created_date]) VALUES (3, N'trung@gmail.com', N'$2a$10$KeusExvlvUYzY8doX/mYVOTNnCRXsH1.cV4uaJ3mi.EzSwi4XvKWe', N'Nguyễn Trung', NULL, N'USER', CAST(N'2026-05-05 12:04:53.890' AS DateTime))
INSERT [dbo].[users] ([id], [email], [password], [full_name], [avatar_url], [role], [created_date]) VALUES (4, N'viet@gmail.com', N'$2a$10$tmeGCBEAqOp9xr0toXpRtub3CHjm4.ins9GScRSHAwPv7jRlAgPnq', N'Việt', NULL, N'USER', CAST(N'2026-05-05 12:12:38.660' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Checkins_Place_Reviews]    Script Date: 18/05/2026 22:13:10 ******/
CREATE NONCLUSTERED INDEX [IX_Checkins_Place_Reviews] ON [dbo].[checkins]
(
	[place_id] ASC
)
INCLUDE ( 	[rating],
	[content],
	[created_date]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Checkins_Stats_Timeline]    Script Date: 18/05/2026 22:13:10 ******/
CREATE NONCLUSTERED INDEX [IX_Checkins_Stats_Timeline] ON [dbo].[checkins]
(
	[created_date] ASC,
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Checkins_User_Logic]    Script Date: 18/05/2026 22:13:10 ******/
CREATE NONCLUSTERED INDEX [IX_Checkins_User_Logic] ON [dbo].[checkins]
(
	[user_id] ASC,
	[place_id] ASC,
	[created_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__site_vis__61E1BF970AB01636]    Script Date: 18/05/2026 22:13:10 ******/
ALTER TABLE [dbo].[site_visits] ADD UNIQUE NONCLUSTERED 
(
	[visit_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__users__AB6E6164AE1B7C2B]    Script Date: 18/05/2026 22:13:10 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[checkins] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[place_suggestions] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[place_suggestions] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[places] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[places] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('USER') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[checkin_images]  WITH CHECK ADD FOREIGN KEY([checkin_id])
REFERENCES [dbo].[checkins] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[checkins]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[checkins]  WITH CHECK ADD  CONSTRAINT [FK_checkins_places] FOREIGN KEY([place_id])
REFERENCES [dbo].[places] ([id])
GO
ALTER TABLE [dbo].[checkins] CHECK CONSTRAINT [FK_checkins_places]
GO
ALTER TABLE [dbo].[place_images]  WITH CHECK ADD FOREIGN KEY([suggestion_id])
REFERENCES [dbo].[place_suggestions] ([id])
GO
ALTER TABLE [dbo].[place_images]  WITH CHECK ADD  CONSTRAINT [FK_place_images_places] FOREIGN KEY([place_id])
REFERENCES [dbo].[places] ([id])
GO
ALTER TABLE [dbo].[place_images] CHECK CONSTRAINT [FK_place_images_places]
GO
ALTER TABLE [dbo].[place_suggestions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[place_suggestions]  WITH CHECK ADD  CONSTRAINT [FK_place_suggestions_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[place_suggestions] CHECK CONSTRAINT [FK_place_suggestions_categories]
GO
ALTER TABLE [dbo].[places]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[checkins]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
USE [master]
GO
